<.header>
  <%= @facebook_dump.name %>
  <:subtitle><%= @facebook_dump.path %></:subtitle>
  <:actions>
    <.link href={~p"/sources/facebook/#{@facebook_dump}/edit"}>
      <.button><.icon name="hero-pencil" /></.button>
    </.link>
  </:actions>
</.header>


<.back navigate={~p"/sources"}>Back to sources</.back>
